.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

.rainbow {

  /* Font options */
  font-family: 'source-code-pro', sans-serif;
  font-size:48px;

  /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 2s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 2s infinite;

  /* Standar Syntax */
  animation: rainbow 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  25%{color: mediumpurple;}
  50%{color: purple;}
  75%{color: rebeccapurple;}
  100%{color: mediumpurple;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  25%{color: mediumpurple;}
  50%{color: purple;}
  75%{color: rebeccapurple;}
  100%{color: mediumpurple;}
}

/* Standar Syntax */
@keyframes rainbow{
  25%{color: mediumpurple;}
  50%{color: purple;}
  75%{color: rebeccapurple;}
  100%{color: mediumpurple;}
}